name: Fake CI

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # - uses: actions/checkout@v5
      - run: echo "Hello, world!"
      - run: echo "Hello, world!"
      - run: echo "CI passed successfully!"
