on:
  workflow_run:
    workflows: ['*'] # All workflow failures
    types: [completed]

permissions: write-all
  

jobs:
  ci-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - uses: actions/checkout@v6
      - uses: austenstone/copilot-cli@main
        with:
          copilot-token: ${{ secrets.PAT }}
          # enable-all-github-mcp-tools: true
          mcp-config: |
            {
              "mcpServers": {
                "github-mcp-server": {
                  "type": "http",
                  "url": "https://api.githubcopilot.com/mcp/",
                  "headers": {
                    "Authorization": "Bearer ${{ secrets.PAT }}",
                    "X-MCP-Toolsets": "*"
                  },
                  "tools": ["*"]
                }
              }
            }
          agent: ci-fixer
          prompt: |
            The GitHub Actions workflow run failed.
            Please analyze the failure and suggest a fix.
            Create a pull request with the necessary changes.
            Include the error logs and any relevant information.

            ## Input Data
            ```json
            ${{ toJson(github.event) }}
            ```
