on:
  issue_comment:
    types: [created]

jobs:
  copilot:
    if: ${{ startsWith(github.event.comment.body, '/copilot') }}
    runs-on: ubuntu-latest
    steps:
      - name: Remove the /copilot prefix
        id: sanitize
        run: |
          modified_comment=$(echo "${{ github.event.comment.body }}" | sed 's/\/copilot//')
          echo "prompt=${modified_comment}" >> "$GITHUB_OUTPUT"
      - name: Run Copilot
        uses: austenstone/copilot-cli@main
        with:
          copilot-token: ${{ secrets.PAT }}
          prompt: |
            ${{ steps.sanitize.outputs.prompt }}

            At the start, acknowledge the issue comment by reacting with an emoji.

            Once you have completed your task, please summarize the outcome and any relevant details by responding to the comment.

            ## Input Data
            ```json
            ${{ toJson(github.event) }}
            ```
