on:
  push:
  workflow_dispatch:

jobs:
  copilot:
    runs-on: ubuntu-latest
    steps:
      - uses: austenstone/copilot-cli@main
        with:
          github-token: ${{ secrets.PAT }}
          mcp-config: |
            {
              "mcpServers": {
                "github-mcp-server": {
                  "type": "http",
                  "url": "https://api.githubcopilot.com/mcp/",
                  "headers": {
                    "Authorization": "Bearer '$GH_TOKEN'",
                    "X-MCP-Toolsets": "actions"
                  },
                  "tools": ["*"]
                },
                "time": {
                  "command": "uvx",
                  "args": [
                    "mcp-server-time",
                    "--local-timezone",
                    "America/New_York"
                  ],
                  "tools": ["*"]
                }
              }
            }
          prompt: |
            Try to experiment with mcp tools available to see what they do and if they work.

            List all tools. multiple times in different formats.

            Try the github mcp tools. #tool:github-mcp-server/* . Don't use the gh cli, use mcp only.
