on:
  push:
  workflow_dispatch:

jobs:
  copilot:
    runs-on: ubuntu-latest
    steps:
      - uses: austenstone/copilot-cli@main
        with:
          github-token: ${{ secrets.PAT }}
          mcp-config: |
            {
              "mcpServers": {
                "time": {
                  "command": "uvx",
                  "args": [
                    "mcp-server-time",
                    "--local-timezone",
                    "America/New_York"
                  ],
                  "tools": ["*"]
                }
              }
            }
          prompt: |
            Try to experiment with mcp tools available to see what they do and if they work.

            List all tools.

            Try the github mcp tools.
